@{
    Layout = "~/Layouts/_Layout.cshtml";
}
<style>
    html, body {
        height: 100%;
    }
</style>
<div class="container h-100 d-flex">
    <div class="jumbotron h-auto m-auto">
        <p class="display-4">Success</p>
        <p class="lead">Thanks for submitting your information! This window can be closed.</p>
        <button class="btn btn-primary" href="#" role="button" onclick="javascript: window.close();">Close Window</button>
    </div>
</div>

